<header class="site-header">
  <div class="container">
    <h1 class="logo"><a href="/todo-list">Mcdonald Family Todo list</a></h1>
    <nav>
      <a href="/todo-list">All Students</a>
      <a href="/todo-list/new">Add Student</a>
    </nav>
  </div>
</header>
